<div class="umb-panel merchello-side-panel" data-ng-controller="ProWorksRichTextLabelDialogController">
    <div class="umb-modalcolumn-header">
		<h4 data-ng-bind-html="dialogData.dialogtitle">More Help</h4>
	</div>

    <div class="umb-panel-body with-header with-footer dialog-panel">
	
		<div data-ng-bind-html="dialogData.dialoghtml"></div>
	
    </div>

    <div class="umb-panel-footer" >
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">

                <a href data-ng-click="close()" class="btn btn-link">
                    <localize key="general_close">Close</localize>
                </a>

            </div>
        </div>
    </div>
</div>