<div ng-controller="ProWorksRichTextLabelController" class="pro-works-rich-text-label">

	<p data-ng-bind-html="model.config.html"></p>

	<a class="btn" data-ng-show="model.config.dialog" data-ng-click="openDialog()" data-ng-bind="model.config.dialogbuttontext"></a>

</div>
